<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.tax.dao.TaxConfigMapper">
  <resultMap id="BaseResultMap" type="com.chinasoft.tax.po.TaxConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="country_name" jdbcType="VARCHAR" property="countryName" />
    <result column="tax_code" jdbcType="VARCHAR" property="taxCode" />
    <result column="tax_name" jdbcType="VARCHAR" property="taxName" />
    <result column="tax_period_code" jdbcType="VARCHAR" property="taxPeriodCode" />
    <result column="tax_period_name" jdbcType="VARCHAR" property="taxPeriodName" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="del_time" jdbcType="TIMESTAMP" property="delTime" />
    <result column="deletor" jdbcType="VARCHAR" property="deletor" />
  </resultMap>
</mapper>