<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.tax.dao.TMaterialMapper">
  <resultMap id="BaseResultMap" type="com.chinasoft.tax.po.TMaterial">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="material_type" jdbcType="INTEGER" property="materialType" />
    <result column="process_type" jdbcType="INTEGER" property="processType" />
    <result column="ori_name" jdbcType="VARCHAR" property="oriName" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="del_time" jdbcType="TIMESTAMP" property="delTime" />
    <result column="deletor" jdbcType="VARCHAR" property="deletor" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="material_type_dict" jdbcType="VARCHAR" property="materialTypeDict" />
    <result column="tax_dict" jdbcType="VARCHAR" property="taxDict" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
  </resultMap>

  <select id="findAllMaterial" resultType="com.chinasoft.tax.po.MaterialInfoPo">

    select a.company_id companyId,a.company_name companyName,m.ori_name oriName,m.file_name fileName,m.path,
    DATE_FORMAT(m.create_time,'%Y-%m-%d') createTime,
    m.tax_dict taxDict,m.currency ,m.material_type_dict materialTypeDict,
    DATE_FORMAT(d.tax_period,'%Y-%m-%d') as taxPeriod,
    d.tax_application_id as detailId
    from
    (t_material m
    left join t_tax_application_detail d on
    m.id = d.tax_returns
    or m.id = d.payment_certificate
    or m.id = d.pre_tax_returns
    or m.id = d.other_upload
    )
    left join
    t_tax_application a
    on d.tax_application_id = a.id
    where 1=1 and a.company_id != '' and m.tax_dict != ''
    <!--<if test= "companyName!=null and companyName!=''">-->
      <!--and a.company_name LIKE CONCAT('%',#{companyName},'%')-->
    <!--</if>-->
    <if test = "companyIds!=null and companyIds!=''">
      and a.company_id in
      <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
    </if>

    <if test= "taxDicts!=null and taxDicts!=''">
      and m.tax_dict in
      <foreach collection="taxDicts" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
    </if>

    <if test="materialTypeDict!=null  and materialTypeDict!=''">
      and m.material_type_dict = #{materialTypeDict}
    </if>

    <!--<if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">-->
      <!--and m.create_time between str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s') and str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')-->
    <!--</if>-->
    <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
      and d.tax_period between str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s') and str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
    </if>
    union
    select ta.company_id companyId,ta.company_name companyName,m.ori_name oriName,m.file_name fileName,m.path,
    DATE_FORMAT(m.create_time,'%Y-%m-%d') createTime,
    m.tax_dict taxDict,m.currency ,m.material_type_dict materialTypeDict,'taxPeriod',
    'detailId'
    from
    t_material m
    left join t_tax_application ta on
    m.id = ta.financial_report
    where 1=1 and ta.company_id != '' and m.tax_dict!= ''
    <!--<if test= "companyName!=null and companyName!=''">-->
      <!--and ta.company_name LIKE CONCAT('%',#{companyName},'%')-->
    <!--</if>-->
    <if test= "companyIds!=null and companyIds!=''">
      and ta.company_id in
      <foreach collection="companyIds" item="id" index="index" open="(" close=")" separator=",">
        #{id}
      </foreach>
    </if>
    <if test= "taxDicts!=null and taxDicts!=''">
      and m.tax_dict !='none'
    </if>

    <if test="materialTypeDict!=null  and materialTypeDict!=''">
      and m.material_type_dict = #{materialTypeDict}
    </if>

    <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
      and m.create_time between str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s') and str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
    </if>

  </select>
</mapper>