<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.tax.dao.TTaxApplicationMapper">
  <resultMap id="BaseResultMap" type="com.chinasoft.tax.po.TTaxApplication">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="TIN" jdbcType="VARCHAR" property="tin" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="country_name" jdbcType="VARCHAR" property="countryName" />
    <result column="applicant_id" jdbcType="VARCHAR" property="applicantId" />
    <result column="applicant_name" jdbcType="VARCHAR" property="applicantName" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="financial_report" jdbcType="VARCHAR" property="financialReport" />
    <result column="financial_report_path" jdbcType="VARCHAR" property="financialReportPath" />

    <result column="is_upload_report" jdbcType="INTEGER" property="isUploadReport" />

    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="save_time" jdbcType="TIMESTAMP" property="saveTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="del_time" jdbcType="TIMESTAMP" property="delTIme" />
    <result column="deletor" jdbcType="VARCHAR" property="deletor" />
    
    <result column="current_link" jdbcType="VARCHAR" property="currentLink" />
    <result column="current_handler" jdbcType="VARCHAR" property="currentHandler" />
  </resultMap>

  <select id="searchDoneByUserId" parameterType="java.lang.String" resultType="com.chinasoft.tax.vo.DoneVo">
    SELECT
      hit.PROC_INST_ID_ as procInstId,
      hia.TASK_ID_ as flowNum,
      ahp.START_TIME_ as createTime,
      art.NAME_ as currentLink,
      art.ASSIGNEE_ as currentHandler
    FROM (select * from act_hi_comment hic where hic.USER_ID_ = #{userId}) hic
    LEFT JOIN act_hi_actinst hia ON hic.TASK_ID_ = hia.TASK_ID_
    LEFT JOIN act_hi_taskinst hit ON hic.TASK_ID_ = hit.ID_
    LEFT JOIN act_ru_task art ON hic.PROC_INST_ID_ = art.PROC_INST_ID_
    LEFT JOIN act_hi_procinst ahp ON hic.PROC_INST_ID_ = ahp.PROC_INST_ID_
  </select>

  <select id="searchCommentByTaskId" parameterType="java.lang.String" resultType="com.chinasoft.tax.vo.AuditLogVo">
    SELECT
      aht.NAME_ as taskName,
      ahc.USER_ID_ as userId,
      ahc.MESSAGE_ as message,
      ahc.TIME_ as auditDate,
      aht.TASK_DEF_KEY_ as taskDefKey
    FROM act_hi_taskinst aht
    LEFT JOIN act_hi_comment ahc ON ahc.TASK_ID_ = aht.ID_
    WHERE aht.PROC_INST_ID_ = #{processInstanceId} AND aht.END_TIME_ is not null;
  </select>
</mapper>